<div class="timeline timeline-wrap">
    <% var last;
    page.posts.each(function(post, i) {
        var year = post.date.year();
        if (last != year) {
            last = year; %>
            <div class="timeline-row timeline-row-major">
                <span class="node"><i class="fas fa-calendar-alt"></i></span>
                <h1 class="title"><%= year %></h1>
            </div>
        <% } %>
        <div class="timeline-row">
            <span class="node"></span>
            <div class="content">
                <%- partial('common/post/title', { post: post, index: true, class_name: 'timeline-article-title' }) %>
                <div class="article-meta">
                    <%- partial('common/post/date', { post: post, class_name: 'article-date', date_format: null }) %>
                    <%- partial('common/post/category', { post: post }) %>
                    <%- partial('common/post/tag', { post: post }) %>
                </div>
            </div>
        </div>
    <% }); %>
</div>
<% if (page.total > 1) { %>
    <nav id="page-nav">
        <%- paginator({
            prev_text: __('nav.prev'),
            next_text: __('nav.next')
        }) %>
    </nav>
<% } %>